<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventurer Calculator</title>
</head>
<body>
<h2>Welcome</h2>
<h3 th:if="${0<=power && power<=20000}" th:text="${'the power is ' + power + 'C power'}">to the guild</h3>
<h3 th:if="${20000<power && power<=100000}" th:text="${'the power is ' + power + 'B power'}">to the guild</h3>
<h3 th:if="${power>100000}" th:text="${'the power is ' + power + 'A power'}">to the guild</h3>

</body>
</html>